body{
	background-image: url("../images/theCity.jpg");
	/*color: grey;*/
	
}

.container {
	background-color: silver;
	width: 800px;
	/*padding-top: 100px; */
	margin-top: 50px;
}

.numberQ1 {
	margin-right: 10px;
	margin-bottom: 10px;
}

.numberQ2 {
	margin-right: 10px;
	margin-bottom: 10px;
}

.numberQ3 {
	margin-right: 10px;
	margin-bottom: 10px;
}

.numberQ4 {
	margin-right: 10px;
	margin-bottom: 10px;
}